BOT_TOKEN=
DATABASE_URL=file:./data/cheeseplate.sqlite
# HTTPS_PROXY=http://proxy:3128
# HTTP_PROXY=http://proxy:3128
# NO_PROXY=localhost,127.0.0.1
# OLD_DATABASE_URL=postgresql://user:password@host:26257/database?sslmode=require
