BOT_TOKEN=
DATABASE_URL=file:./data/cheeseplate.sqlite
# TG_HTTPS_PROXY=http://proxy:3128
# TG_HTTP_PROXY=http://proxy:3128
# TG_NO_PROXY=api.telegram.org
# OLD_DATABASE_URL=postgresql://user:password@host:26257/database?sslmode=require
